#NetBeans project private properties
nbproject/private
nbproject/private/*
#build folder
build
#distributable folder
dist
#log file
log
#git svn clone import script
import_error_resistant.sh
#editor window INI file
editor.ini